{{!-- <h1> {{title}}</h1>
<div>
    <a href="./views/index.hbs">Weather</a>
    <a href="./views/About.hbs">About</a>
    <a href="./views/Help.hbs">Help</a>
</div> --}}
<header>
    <h1> {{title}}</h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>